<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomersListController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.CustomersListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivitiesController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.ActivitiesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersListController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.UsersListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivitiesListController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.ActivitiesListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivitiesListUserController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.ActivitiesListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivitiesStopController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.ActivitiesStopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivitiesUserDoStopController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.ActivitiesUserDoStopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomersCreateController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.CustomersCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersCreateController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.UsersCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomersDeleteController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.CustomersDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersActivateInactivateController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.UsersActivateInactivateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersNewPasswordController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.UsersNewPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyMyPasswordController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.ModifyMyPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivitiesListDoneController</servlet-name>
        <servlet-class>org.zgdf.ea.controller.ActivitiesListDoneController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomersListController</servlet-name>
        <url-pattern>/CustomersListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivitiesController</servlet-name>
        <url-pattern>/ActivitiesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersListController</servlet-name>
        <url-pattern>/UsersListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivitiesListController</servlet-name>
        <url-pattern>/ActivitiesListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivitiesListUserController</servlet-name>
        <url-pattern>/ActivitiesListUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivitiesStopController</servlet-name>
        <url-pattern>/ActivitiesStopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivitiesUserDoStopController</servlet-name>
        <url-pattern>/ActivitiesUserDoStopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomersCreateController</servlet-name>
        <url-pattern>/CustomersCreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersCreateController</servlet-name>
        <url-pattern>/UsersCreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomersDeleteController</servlet-name>
        <url-pattern>/CustomersDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersActivateInactivateController</servlet-name>
        <url-pattern>/UsersActivateInactivateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersNewPasswordController</servlet-name>
        <url-pattern>/UsersNewPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyMyPasswordController</servlet-name>
        <url-pattern>/ModifyMyPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivitiesListDoneController</servlet-name>
        <url-pattern>/ActivitiesListDoneController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
</web-app>
